target
build
classes
.project
.classpath
.settings
.gradle
.idea
*.iml
*~
/.externalToolBuilders/
/maven-eclipse.xml
projects/android/src/androidTest/resources
projects/android-lite/src/main/java-copy
